@font-face {
  font-family: "galindo";
  src: url(./Galindo-Regular.ttf);
}

/*MUI CSS*/
formControl {
  display: flex;
}

TextField {
  margin-bottom: 20px;
}

/*CSS DIRECTLY TO HTML COMPONENTS*/

.App {
  text-align: center;
}

.flexBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.robot {
  height: 150px;
  margin-top: 10px;
  padding-top: 0px;
}

h1 {
  font-family: "galindo", Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  margin-top: 60px;
}

h4 {
  margin-bottom: 0px;
}

.subDesc {
  font-size: 0.75rem;
}

.resultNotes {
  text-align: left;
}
/*FASTENER INFO STYLING*/
.headType {
  display: flex;
  justify-content: center;
}
.headCard {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

/*Hide head type radio buttons*/
.headType [type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/*Style Images*/
[type="radio"] + img {
  cursor: pointer;
}

/*Style Checked Image*/
[type="radio"]:checked + img {
  outline: 2px solid black;
}

img {
  height: 100px;
  padding: 20px;
  border-radius: 5px;
}

/*FOOTER*/
.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  height: 40px;
  margin-left: 10px;
}
