@font-face {
  font-family: "galindo";
  src: url(./Galindo-Regular.ttf);
}

@font-face {
  font-family: "roboto";
  src: url(./Roboto-Regular.ttf);
}

@font-face {
  font-family: "robotoBold";
  src: url(./Roboto-Bold.ttf);
}

:root {
  --theme: #1565c0;
}

body {
  font-family: "roboto", Arial, Helvetica, sans-serif;
}

/*MUI CSS*/
formControl {
  display: flex;
}

TextField {
  margin-bottom: 20px;
}

/*CSS DIRECTLY TO HTML COMPONENTS*/

.App {
  text-align: center;
}

.flexBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}
.robot {
  height: 150px;
  margin-top: 10px;
  padding-top: 0px;
}

.flexBoxHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "galindo", Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  margin-top: 10px;
}
@media (min-width: 700px) {
  h1 {
    font-size: 3.25em;
    margin-top: 70px;
  }
  .flexBoxHeader {
    flex-direction: row;
  }
}
.headType {
  margin-top: 20px;
  margin-bottom: 20px;
}

.description {
  margin-top: -10px;
}

#holeType {
  margin-top: 20px;
}

h4 {
  margin-top: 20px;
  font-size: 20px;
}

/* Hide spinner for number inputs */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.css-qfz70r-MuiFormGroup-root {
  justify-content: center;
}

.MuiTextField-root input {
  padding-top: 17.5px;
  padding-bottom: 17.5px;
}

.break {
  margin-top: 20px;
}
.subDesc {
  font-size: 0.75rem;
  margin-top: -20px;
  margin-bottom: 10px;
}
.resultLabel {
  margin-left: 20px;
}
.resultNotes {
  text-align: left;
}

.resultItem {
  font-size: 15px;
}

.tableContainer {
  display: flex;
  justify-content: center;
}
span {
  font-size: 12px;
}
th {
  font-family: "robotoBold", Arial, Helvetica, sans-serif;
  font-size: 18px;
}
/*FASTENER INFO STYLING*/

@media (max-width: 500px) {
  ToggleButtonGroup {
    orientation: vertical;
  }
}

.headType {
  display: flex;
  justify-content: center;
}

.flexGroup {
  display: flex;
  justify-content: center;
}

/*Hide head type radio buttons*/
.headType [type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/*Style Images*/
[type="radio"] + img {
  cursor: pointer;
}

/*Style Checked Image*/
[type="radio"]:focus + img {
  outline: 2px solid silver;
}

[type="radio"]:checked + img {
  outline: 2px solid var(--theme);
}

img {
  height: 120px;
  padding: 15px 70px;
  border-radius: 5px;
}

.interfaceIMG {
  padding: 15px 25px;
}

/*FOOTER*/
.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
}
svg {
  margin-left: 10px;
  height: 3em;
}
a {
  display: flex;
  align-items: center;
}
.css-i4bv87-MuiSvgIcon-root {
  height: 1.5em;
  width: 1.5em;
}
